
h3{
    text-align: center;
    margin-top:60px;
    color:rgb(172, 2, 2);
    text-shadow: 3px 2px rgb(255, 255, 255);
    font-size: xx-large;
    font-family: serif;
   }
h4
{
    text-align: center;
    margin-top:60px;
    font-size: 25px;   
    color: rgb(167, 56, 56);
}

*{
    font-family: Times;
 } 
  
.disp{
    margin-top: 40px;
    display: flex;
    margin-bottom: 15px;
}
#para
{
    background-color: rgba(198, 127, 127, 0.19);
    margin:0 70px 0;
    
}
p{
    text-align: center;
    font-size: large;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 2;
    color:rgb(144, 97, 97);
    /*color:rgb(28, 143, 76);*/
    padding:10px 30px 10px;
    font-weight: 500;
    opacity: 0.8;
    
}
img{
    margin-left:70px;
    float: left;
    opacity: 0.8;
}
img:hover{
    opacity:unset;
}
#para:hover p{
    opacity: unset;
    color:rgb(100, 13, 13);
}
footer
{
  margin-top: 10px;
    background-color:rgb(217, 62, 62);
    
}
 h6{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
 }