
*{
    font-family: Times;
} 
  
.product{
    box-shadow: 0px 7px 7px #666161;
    width: fit-content;
    background-color: rgba(219, 63, 63, 0.807);
    border-radius: 5px;
    margin-left:8px;
    border: 5px solid rgb(145, 48, 48);
}

.container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns :auto auto auto auto;
    gap:50px;
    padding:20px;
    background-color: rgba(215, 100, 100, 0.6);
    margin:auto 20px;
}
.product img{
width: 300px;
height: 300px;
}

.desc h3{
padding:4px;
margin:10px 80px 20px;
border:2px solid black;
background-color: rgba(255, 255, 255, 0.689)
}

.desc{
    text-align: center;
    padding-bottom: 15px;    
    cursor: pointer;
}
 
.desc button{
    cursor: pointer;
    padding:5px;
    background-color: rgb(146, 24, 24);
    margin:0 10px 5px;
    color: white;
}
#sofa,#bed, #dining, #office, #others{
    text-align: center;
    font-size:xx-large;
    color:brown;
    margin:0 0 15px;
    padding-top: 60px;
    font-family: serif;
}
footer
{
  margin-top: 10px;
    background-color:rgb(217, 62, 62);
    
}
 h6{
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 12px;
 }

 .desc button:hover{
    background-color: rgb(236, 120, 120);
    border-radius: 5px;
 }